# Auto detect text files and perform LF normalization
* text=auto
This repository holds code for calculating the shallow geothermal potential of groundsource heat pump systems using borehole heat exchangers. 